
.testDesign{
    border: 3px solid black;
    background-color: rgb(180, 188, 223);
}

.rentDesign {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5em;
    width: 8em;

    border-radius: 1em;

    background-color: rgb(253, 27, 27);

    cursor: pointer;

    transition: 0.2s;

    color: white;
}

.rentDesign:hover {
    transition: 0.2s;
    background-color: rgb(243, 91, 91);
}